.index{
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.innerIndex{
    position: absolute;
    top: 41%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.primaryModal{
    width: 100%;
    color: black;
    text-align: center;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    border-radius: 14px;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.mainModal{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 339px;
    /* padding-top: 8%; */
    width: 481px;
    font-size: 20px;
}
.mainModal footer{
    margin: 19.2px 0;
}
.content{
    font-size: 50px;
    color: black;
}
.indexChange{
    position: fixed;
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}